name: ci

on: [push]

env:
  PROJECT_ID: bhouston-general-hosting
  SERVICE_NAME: template-typescript-monorepo

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: install workspace
        uses: ./.github/actions/install-workspace

      - name: pnpm build
        run: pnpm build

  test:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: install workspace
        uses: ./.github/actions/install-workspace

      - name: pnpm test
        run: pnpm test

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: git checkout
        uses: actions/checkout@v4

      - name: install workspace
        uses: ./.github/actions/install-workspace

      - name: pnpm lint
        run: pnpm run lint:check

  dockerize:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Dockerize
        uses: ./.github/actions/dockerize
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ env.PROJECT_ID }}
          service_name: ${{ env.SERVICE_NAME }}
          dockerfile: ./apps/tan-start-app/Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: [test, lint, build, dockerize]
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: ./.github/actions/deploy-cloud-run
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}
          project_id: ${{ env.PROJECT_ID }}
          service_name: ${{ env.SERVICE_NAME }}
